# Ignore everything
*

# But not these files...
!/.gitignore
!/arthas-3.1.0/*
!/jstack-profiler/**/*
!/perf-map-agent-alpine-3.9_amd64/**/*
!/*.jar
!/*.sh
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!/jprofiler/bin/linux-x64/*.so
!/jprofiler/*
